spring:
  application:
    name: analyzer

  config:
    import: "configserver:"

  cloud:
    config:
      fail-fast: true
      retry:
        use-random-policy: true
        max-interval: 10000
      discovery:
        service-id: config-server
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka