server:
  kafka:
    topic-config:
      hubs: telemetry.hubs.v1
      sensors: telemetry.sensors.v1
      snapshots: telemetry.snapshots.v1
    consumer:
      poll-timeout-ms: 100
      batch-messages-count: 10
app:
  cache:
    default-ttl-min: 30

grpc:
  server:
    port: 59092
  client:
    hub-router:
      address: discovery:///hub-router
      enable-keep-alive: true
      keep-alive-without-calls: true
      negotiation-type: plaintext

spring:
  application:
    name: analyzer
  main:
    banner-mode: off

  kafka:
    bootstrap-servers: ${SERVER_KAFKA_ADDRESS:localhost:9092}

    consumer:
      properties:
        "bootstrap.servers": ${spring.kafka.bootstrap-servers}
        "auto.offset.reset": earliest
        "enable.auto.commit": false
        "key.deserializer": "org.apache.kafka.common.serialization.StringDeserializer"

    producer:
      properties:
        "bootstrap.servers": ${spring.kafka.bootstrap-servers}
        "client.id": "aggregator-producer"
        "acks": 1
        "key.serializer": "org.apache.kafka.common.serialization.StringSerializer"
        "value.serializer": "ru.yandex.practicum.serializer.AvroSerializer"
  data:
    jdbc:
      dialect: postgresql
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://127.0.0.1:6000/telemetry_analyzer}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    hikari:
      connection-timeout: 30000
      initialization-fail-timeout: 0
  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema-init.sql
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true


logging:
  level:
    ru.yandex.practicum: TRACE
    org.apache.kafka: WARN
    org.springframework.kafka: WARN
