spring:
  application:
    name: warehouse
  config:
    import: "configserver:"

  cloud:
    config:
      fail-fast: true
      discovery:
        service-id: config-server
        enabled: true
      retry:
        max-interval: 10000
        use-random-policy: true

eureka:
  instance:
    instanceId: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    lease-expiration-duration-in-seconds: 10
    lease-renewal-interval-in-seconds: 5
  client:
    service-url:
      enabled: true
      defaultZone: http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka